<div class="booking-show-wrapper">
  <div class="blog_post">
    <div class="img_pod">
      <img src="https://pbs.twimg.com/profile_images/890901007387025408/oztASP4n.jpg" alt="random image">
    </div>
    <div class="container_copy">
      <h1>Booking details</h1>
      <h3><%=@booking.date%></h3>
      <p><%=@booking.teacher.user.first_name%></p>
      <p><%=@booking.teacher.user.last_name%></p>
      <p><%=@booking.teacher.user.city%></p>

    </div>
    <a class="btn_primary" href='#'>Participate</a>
  </div>
</div>
