<div class="wrapper">
  <video id="background-video" autoplay loop muted src="https://ak.picdn.net/shutterstock/videos/1069994935/preview/stock-footage-joyful-couple-having-a-romantic-dinner-at-a-fancy-restaurant-people-enjoying-their-date-drinking.webm" type="video/mp4" style="background-color: none !important">
  </video>
  <div data-controller="typed-strings">
    <h1>Welcome to <span data-controller="typed"></span></h1>
  </div>
</div>
