<div class="container d-flex justify-content-center" >
  <main>
    <%= link_to 'Discover all the Teachers', teachers_path, class: 'button span', style: 'text-decoration: none; color: black; font-size: 20px'  %>
  </main>
</div>
