<video id="background-video" autoplay loop muted>
  <source src="https://ak.picdn.net/shutterstock/videos/1069994935/preview/stock-footage-joyful-couple-having-a-romantic-dinner-at-a-fancy-restaurant-people-enjoying-their-date-drinking.webm" type="video/mp4">
</video>

<div class="content">
  <div data-controller="typed-strings">
    <h1>Welcome to <span data-controller="typed"></span></h1>
  </div>
</div>

<%= render 'shared/card' %>
