<div class="indexT">
  <h1>View teachers#index</h1>
  <ul>
    <% @teachers.each do |teacher| %>
      <li>
        <%= teacher.first_name %>
        <%= teacher.last_name %>
        <%= teacher.city %>
      </li>
    <% end %>
  </ul>
</div>
