<div class="card-profile">
    <img src="https://images.unsplash.com/photo-1519671482749-fd09be7ccebf?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070" />
    <div class="card-profile-infos">
      <div>
      <br>
        <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
        <h2><%= current_user.city %></h2>
      <br>
        <p>Une séance d'œnologie est à la fois une exploration des sens et du savoir.<br>
        En effet, c'est d'abord une méthode de dégustation en 3 étapes qui font appel à vos sens :<br>
        - observer le vin,<br>
        - sentir le vin,<br>
        - le mettre en bouche.<br>
        Déguster un vin est aussi un voyage à travers l'histoire d'un terroir, sa géologie, la technicité de l'homme, la géographie...<br>
        Un atelier ou une séance d'œnologie est l'ensemble de tous ces éléments qui combinent les sens et l'intellect. </p>
        <%#= current_user.feature %>
        <br>
      <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070" class="card-profile-user avatar-bordered" />
      </div>
    </div>
</div>
<br>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="myclasses">MY CLASSES</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page">MY RESERVATIONS</a>
  </li>
</ul>

<div class="cards">
  <% @bookings.each do |cours| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1541971897566-308cf7ad0934?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070)">
    <%=cours.date.strftime('%m %b %Y')%>
    </div>
  <% end %>
</div>
