<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1568213816046-0ee1c42bd559?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2072)">
  Dashboard
</div>
<br>
<br>
<div class="card-profile">
  <img src="https://images.unsplash.com/photo-1519671482749-fd09be7ccebf?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070" />
  <div class="card-profile-infos">
    <div>
      <h2>Title here</h2>
      <p>Une séance d'œnologie est à la fois une exploration des sens et du savoir. En effet, c'est d'abord une méthode de dégustation en 3 étapes qui font appel à vos sens :
      - observer le vin,
      - sentir le vin,
      - le mettre en bouche.
      Déguster un vin est aussi un voyage à travers l'histoire d'un terroir, sa géologie, la technicité de
      l'homme, la géographie...
      Un atelier ou une séance d'œnologie est l'ensemble de tous ces éléments qui combinent les sens et l'intellect. </p>
    </div>
    <h2 class="card-profile-pricing">£99.99</h2>
    <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070" class="card-profile-user avatar-bordered" />
  </div>
</div>
